@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Changa', sans-serif;
    font-size: 20px;
}

:root {
    --content-width: 400px;
}

@media (min-width: 640px) {
    :root {
        --content-width: 600px;
    }
}

@media (min-width: 1000px) {
    :root {
        --content-width: 900px;
    }
}

@media (min-width: 1200px) {
    :root {
        --content-width: 1100px;
    }
}

a {
    color: #555;
}

.container {
    display: flex;
    flex-direction: column;
    width: var(--content-width);
    margin: 0 auto;
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: row;
}

#brand {
    color: #708e72;
    font-weight: 600;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: #eee;
    padding: 5px 0;
    font-size: small;
    color: #333;
}

.content {
    flex-grow: 1;
    margin: 3px;
}

.title {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #424d1c; 
}

.form {
    width: 80%;
    margin: 0 auto;
}

.form > input {
    width: 100%;
    font-size: 18px;
}

.success {
    background-color: #708e72;
    color: white;
}

.scrollable {
    max-height: 50vh;
    overflow-y: scroll;
}

.song-option {
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.song-option > button {
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: auto 10px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.select {
    background-color: #708e72;
}

.remove {
    background-color: #b4575c;
}

.song-option > button.select:after {
    content: 'V';
}

.song-option > button.remove:after {
    content: 'X';
}

.song {
    border: 2px solid #333;
    padding: 3px;
    display: flex;
    flex-direction: row;
    max-height: 75px;
    width: 100%;
}

.song > img {
    max-width: 75px;
    max-height: 75px;
}

.song-info {
    padding-left: 5px;
}

.search {
    display: flex;
}

.search > input[type="text"] {
    width: 100%;
    font-size: 18px;
}

.search > input[type="button"] {
    font-size: 18px;
    margin: 5px 0;
    margin-left: -65px;
}